.css-1qhov81 {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 0px 0px 5px 5px;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-1qhov81 .rw-container-main {
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(1, 129, 194), rgb(4, 167, 249), rgb(75, 196, 247));
    display: flex;
    border-radius: 5px 5px 0px 0px;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.css-1qhov81 {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 0px 0px 5px 5px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-1qhov81 .rw-container-left {
    padding: 25px;
    width: 60%;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.css-1qhov81 .rw-container-main {
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(1, 129, 194), rgb(4, 167, 249), rgb(75, 196, 247));
    display: flex;
    border-radius: 5px 5px 0px 0px;
}
.css-1qhov81 {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 0px 0px 5px 5px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.css-1qhov81 .rw-container-right {
    background-color: rgba(0, 0, 0, 0.1);
    width: 40%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.css-1qhov81 .rw-container-main {
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(1, 129, 194), rgb(4, 167, 249), rgb(75, 196, 247));
    display: flex;
    border-radius: 5px 5px 0px 0px;
}
.css-1qhov81 {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 0px 0px 5px 5px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-evb4g3 {
    clear: both;
    display: flex;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 0px 0px 5px 5px;
    font-size: 11px;
    background-color: rgb(255, 255, 255);
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.css-1qhov81 {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 0px 0px 5px 5px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-evb4g3 .rw-forecast-day {
    width: 25%;
    text-align: center;
    margin: 10px 0px;
    padding: 0px 10px;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.css-evb4g3 {
    clear: both;
    display: flex;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 0px 0px 5px 5px;
    font-size: 11px;
    background-color: rgb(255, 255, 255);
}
.css-1qhov81 {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 0px 0px 5px 5px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}